/* Stili di base per il corpo e il margine */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Stili per la barra di navigazione */
.navbar {
    overflow: hidden;
    background-color: rgba(37, 123, 220, 0.5);
    backdrop-filter: blur;
    width: 100%; /* La navbar occupa il 100% della larghezza della pagina */
    position: fixed; /* Fissa la navbar in cima alla pagina */
    top: 0;
    left: 0; /* Assicurati che inizi dal bordo sinistro */
    z-index: 1000; /* Assicurati che la navbar sia sopra altri elementi */
}

/* Stili per i link nella navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Stili per i link al passaggio del mouse */
.navbar a:hover {
    color: black;
}

/* Stili per il contenuto principale della pagina */
.content {
    padding: 8px;
    margin-top: 0px; /* Aggiungi un margine superiore per evitare che il contenuto si sovrapponga alla navbar */
}